<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>인공지능이 계산한 로또 번호 예측</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <h1>인공지능이 계산한 로또 번호 예측</h1>
    <p>
      이 웹 애플리케이션은 고급 통계학과 인공지능 분석법을 통해 로또 번호를
      예측합니다.
    </p>
    <p>당신에게 행운이 가득하길 바랍니다.</p>

    <!-- 이미지 추가 (이미지 파일은 /static/images 폴더에 위치해야 합니다) -->
    <img
      src="{{ url_for('static', filename='images/lotto.jpg') }}"
      alt="Lotto Image"
    />

    <!-- 로또 번호 생성 요청 버튼 -->
    <button onclick="generateLottoNumbers()">이번주의 로또번호 받아보기</button>
    <div id="result"></div>
  </body>
</html>
